.header {
  padding: 57px 144px;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #5863e3;
}

.text {
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  width: 371px;
}

section {
  padding-left: 144px;
}

.inputbox {
  width: 500px;
}
input[type="text"] {
  width: 370px;
  height: 59px;
  background-color: #00000033 20%;
  margin-top: 20px;
  padding-left: 19px;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
}

.inputbox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 645px;
  margin-top: -316px;
}

input[type="description"] {
  width: 756px;
  height: 298px;
  background-color: #00000033 20%;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
}

input[type="email"] {
  width: 370px;
  height: 59px;
  background-color: #00000033 20%;
  margin-top: 20px;
  padding-left: 19px;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
}

input[type="submit"] {
  width: 370px;
  height: 59px;
  font-weight: 700;
  background-color: #5863e3;
  color: white;
  margin-top: 20px;
  font-family: Helvetica, sans-serif;
}

.flex-container {
  display: flex;
}

.box1 {
  margin-top: 51px;
  margin-left: 100px;
  background-color: #5968f4;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  margin-right: 250px;
}

.box2 {
  margin-top: 51px;
  margin-left: 100px;
  background-color: #5968f4;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  margin-right: 250px;
}

.box3 {
  margin-top: 51px;
  margin-left: 100px;
  background-color: #5968f4;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  margin-right: 250px;
}

i {
  margin-left: 25px;
  margin-top: 25px;
  color: blue;
}

.h2 {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #4e4d54;
  margin-left: 8px;
  margin-top: 40px;
}

h2 {
  margin-left: -50px;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #99999a;
  margin-top: 8px;
}

.h22 {
  margin-left: -65px;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #99999a;
  margin-top: 8px;
}

.num {
  margin-left: -10px;
  width: 122px;
}

.h222 {
  margin-left: -22px;
  width: 122px;
}

.mail {
  width: 163px;
  margin-left: -30px;
}

.h2222 {
  width: 200px;
  margin-left: -40px;
}

.title {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #4e4d54;
  margin-left: -3px;
  margin-top: 40px;
}
